.promo {
  background: linear-gradient(to right, #fbfbfb 50%, white 50%);
}

.promo__header {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -148px 0 0 -505px;
  font-size: 140px;
  line-height: 152px;
  letter-spacing: 50px;
  color: white;
  text-transform: uppercase;
  z-index: 4;

  &::before,
  &::after {
    position: absolute;
    left: 9px;
    height: 17px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    font-family: "Geometria", "Arial", sans-serif;
    letter-spacing: normal;
    color: black;
    z-index: 2;
  }

  &::before {
    content: "(1)";
    top: -141px;
    width: 15px;
  }

  &::after {
    content: "(3)";
    top: -61px;
    width: 18px;
  }
}

.promo__description {
  position: absolute;
  margin: 0 0 0 -112px;
  top: 42%;
  font-size: 12px;
  line-height: 15px;
  font-family: "Geometria", "Arial", sans-serif;
  font-style: italic;
  letter-spacing: 0.4px;
  opacity: 0.4;
  transform: rotate(-90deg);
}

.promo__letters-wrapper {
  position: absolute;
  left: 50%;
}

.promo__letter {
  position: absolute;
  margin: 0;
  font-style: normal;
  font-size: 80px;
  line-height: 101px;
  font-weight: 500;
  font-family: "Geometria", "Arial", sans-serif;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  z-index: 1;

  &--A {
    bottom: -41px;
    left: 260px;
  }

  &--G {
    left: 344px;
    bottom: -197px;
  }

  &--E {
    left: 437px;
    bottom: -119px;
    clip: rect(0, 72px, 66px, 0);
  }
}

.promo__black-triangle,
.promo__transparent-triangle {
  display: none;
}

.promo__wreath {
  position: absolute;
  left: calc(50% - 196px / 2);
  top: 69%;
  margin-top: -55px;
  height: 124px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    height: 10px;
    background-color: #f7e611;
    width: 213px;
    bottom: 0;
    left: -10px;
  }

  &-icon {
    margin-left: 19px;
  }
}

.promo__company-name {
  display: flex;
}

.promo__company-left {
  margin-left: 111px;
}

.promo__company-right {
  margin-left: 393px;
  margin-top: 28px;
}

@media (max-width: $desktop-width) {
  .promo {
    overflow: hidden;
    background: transparent;
    background-color: white;
  }

  .promo__header {
    top: 50%;
    left: 54%;
    margin: -148px 0 0 -384px;
    font-size: 80px;
    line-height: 92px;
  }

  .promo__description {
    display: none;
  }

  .promo__company-name {
    display: none;
  }

  .promo__letter {
    font-size: 70px;
    line-height: 82px;

    &--A {
      bottom: -61px;
      left: 136px;
    }

    &--E {
      left: 281px;
      bottom: -95px;
      clip: unset;
    }

    &--G {
      left: 264px;
      bottom: -227px;
    }
  }

  .promo__wreath {
    margin-top: -38px;
    left: calc(50% - 168px / 2);
    height: 158px;
    clip: rect(0, 180px, 80px, 0);

    &::before {
      height: 10px;
      bottom: 78px;
      left: -33px;
    }

    &-icon {
      width: 210px;
      height: 210px;
    }
  }

  .promo__transparent-triangle,
  .promo__black-triangle {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .promo {
    background: transparent;
    background-color: $bright-yellow;
  }

  .promo__header {
    display: none;
  }

  .promo__letters-wrapper {
    left: 0;
  }

  .promo__letter {
    font-size: 60px;
    line-height: 75px;

    &--A {
      left: 72px;
      bottom: -231px;
    }

    &--E {
      left: 217px;
      bottom: -136px;
    }

    &--G {
      left: 150px;
      bottom: -217px;
      clip: rect(0, 46px, 46px, 0);
    }
  }

  .promo__transparent-triangle,
  .promo__black-triangle {
    display: block;
    position: absolute;
  }

  .promo__black-triangle {
    right: 27px;
    top: 228px;
  }

  .promo__transparent-triangle {
    left: 44px;
    top: 515px;
  }

  .promo__wreath {
    margin-top: -56px;
    left: calc(50% - 151px / 2);
    top: auto;
    height: 124px;
    clip: rect(0, 130px, 55px, 0);

    &::before {
      display: none;
    }

    &-icon {
      width: 160px;
      height: 160px;
    }
  }
}
