@font-face {
  font-family: "Philosofer";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Philosopher.woff") format("woff"),
    url("../fonts/Philosopher.woff2") format("woff2");
}

@font-face {
  font-family: "Philosofer";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/Philosopher-Italic.woff") format("woff"),
    url("../fonts/Philosophe-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Geometria";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Geometria.woff") format("woff"),
    url("../fonts/Geometria.woff2") format("woff2");
}

@font-face {
  font-family: "Geometria";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Geometria-Medium.woff") format("woff"),
    url("../fonts/Geometria-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Geometria";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Geometria-Heavy.woff") format("woff"),
    url("../fonts/Geometria-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: "Geometria";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Geometria-Light.woff") format("woff"),
    url("../fonts/Geometria-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Geometria";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/Geometria-HeavyItalic.woff") format("woff"),
    url("../fonts/Geometria-HeavyItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Geometria";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/Geometria-LightItalic.woff") format("woff"),
    url("../fonts/Geometria-LightItalic.woff2") format("woff2");
}
