html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: "Philosopher", "Arial", sans-serif;
  font-weight: 400;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.js-scroll {
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 80px;
}

@media (max-width: $desktop-width) {
  .container {
    max-width: 1050px;
    padding: 0 20px;
  }
}

@media (max-width: $tablet-width) {
  .container {
    max-width: 750px;
    padding: 0;
  }
}
