$bright-yellow: #f7e611;
$pineapple: #ebdd33;
$yellow: #f7ea3f;
$smoky: #fbfbfb;
$grey: #f8f8f8;
$mobile-width: 320px;
$tablet-width: 750px;
$desktop-width: 1439px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
